.fc-theme-standard td {
    border: none !important;
}

.fc-daygrid-day-top .fc-daygrid-day-number div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Toolbar buttons */
.fc .fc-button {
    background-color: #3454d1 !important;
    border: none !important;
    color: white !important;
    padding: 6px 12px !important;
    border-radius: 2px !important;
    font-weight: 500;
}

/* Hover */
.fc .fc-button:hover {
    background-color: #3454d1 !important;
}

/* Today button special */
.fc .fc-today-button {
    background-color: #17c666 !important;
}

/* Active state */
.fc .fc-button-active {
    background-color: #3454d1 !important;
}


.fc-day-today .fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
    /* background-color: #3454d1 !important; */
    box-shadow: rgb(212 51 51) 4px 4px 9px 0px !important;
    background-color: green !important;
}



.backdrop-blur {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

